{% extends 'base.html' %}

{% block title %}
About us
{% endblock %}

{% block content %}
<article>
    <h1>
        FanArt-forum for League of Legends' Players
    </h1>
    <h2>
        რას წარმოადგენს?
    </h2>
    <p>
        ეს არის ვებ საიტი, ფორუმი სადაც League of Legends-ის მოთამაშეებს<br>
        და ფანებს შეუძლიათ განათავსონ თავიანთი ნახატები და სხვა მომხმარებლები<br>
        შეაფასებენ მას.<br>
        პოსტის დადებაც და შეფასებაც შესაძლებელია რეგისტრაციის გარეშე.<br>
    </p>
    <h2>
        როგორ ფუნქციონირებს?
    </h2>
    <p>
        მთავარ გვერდზე მოცემულია ის ყველა ნახატი რომლებიც ატვირთეს მომხმარებლებმა<br>
        შემოსულ მომხმარებელს შეუძლია დაათვალიეროს ყველა ფან-არტი რომელიც ოდესმე დადებულა<br>
        ამ საიტზე. <br>
        ნავიგაციის მენიუში არის მოცემული ღილაკი Add post, საიდანაც ნებისმიერ მომხმარებელს <br>
        ყოველგვარი რეგისტრაციის გარეშე შეუძლია ატვირთოს თავისი ნაშრომი. <br>
        სარჩევში შესაძლებელია ნაშრომების პოვნა მომხმარებლის ნიკნეიმის მიხედვით. <br>
    </p>
    <h2>
        პროგრამის დანიშნულება
    </h2>
    <p>
        ჩვენი მიზანია მხატვრებს შევუქმნათ პლატფორმა სადაც ისინი განათავსებენ თავიანთ ნაშრომებს <br>
        და მოიპოვებენ პოპულარობას უფრო მარტივად ვიდრე ეს მანამდე იყო შესაძლებელი. <br>
        ასევე, არამხატვარ მომხმარებელს ექნება საშუალება აიღოს ეს სურათები და გამოიყენოს <br>
        მაგალითად კომპიუტერის ან ტელეფონის ეკრანზე და ა.შ.
    </p>
    <h2>
        ხარვეზები, განვითარება
    </h2>
    <p>
        მთავარი ხარვეზი ამჟამად არის ინტელექტუალური საკუთრების დაცვა, რომელიც დიდი გამოწვევაა ჩვენთვის, <br>
        თუმცა ვფიქრობთ რომ ამას გადავლახავთ ერთობლივი შრომით. Front-end-ის შედარებით ცუდად <br>
        ცოდნის გამო გვიჭირს ლამაზად წარმოჩენა საიტის, თუმცა ესეც მოგვარებადია, ალბათ ყველა დაგვეთანხმება.<br>
        იმედი გვაქვს გადავიქცევით ისეთ პლატფორმად, რომელიც არა მარტო League of Legends-ის, არამედ <br>
        ნებისმიერი სხვა მხატვრისთვის იქნება შესანიშნავი ადგილი, რომ წარმოაჩინოს თავისი ნიჭი.
    </p>
    <h2>
        ავტორები და პროექტის Github ლინკი
    </h2>
    <ul>
        <li> ლაშა ნუროშვილი <a href="https://github.com/TheSlimReaper925"> Theslimreaper925 </a> </li>
        <li> ოთო ფროდიაშვილი <a href="https://github.com/Theexplosionmage>"> Theexplosionmage </a> </li>
        <li> <a href="https://github.com/theexplosionmage/LoL_Fan_Art_Web"> Github Link</a> </li>
    </ul>
</article>
{% endblock %}