{%  extends 'base.html' %}

{% block title %}
Add post
{% endblock %}

{% block content %}
<br>
<form method="post" enctype="multipart/form-data">
  <label style="width: 100%">
    <input type="text" placeholder="Enter your nickname" name="Name">
  </label>
  <label style="width: 100%">
    <select class="form-control" name="ChampionSelect">
      {% for i in range(champions|length) %}
    <option value="{{ i + 1 }}">{{ champions[i] }}</option>
      {% endfor %}
  </select>
  </label>
  <div class="form-group">
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="Image">
  </div>
  <button class="btn btn-primary" type="submit" name="Post">Post</button>
</form>
{% endblock%}